<mat-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="dailyCheckinForm">
    <ng-template matStepLabel>Fill in your Influencing Factors</ng-template>

    <div class="dailyCheckin">
      <span>Please rate your day based on the following...</span>
      <app-daily-factors
        [sliderConfig]="sliderConfig"
        [dailyCheckinForm]="dailyCheckinForm">
      </app-daily-factors>
    </div>

    <div>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Rate Your Daily Outcomes</ng-template>

    <div class="dailyCheckin">
      <span>Please evaluate your daily outcomes based on the following...</span>
      <app-daily-outcomes
        [sliderConfig]="sliderConfig"
        [wellbeingMetricsForm]="wellbeingMetricsForm">
      </app-daily-outcomes>
    </div>

    <div class="dailyCheckin__button-row--left">
      <button mat-stroked-button matStepperPrevious>Back</button>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Review & Submit</ng-template>
    <p>You have completed all steps. Please review your inputs and submit.</p>
    <app-daily-overview
      [dailyCheckinForm]="dailyCheckinForm"
      [wellbeingMetricsForm]="wellbeingMetricsForm">
    </app-daily-overview>

    <div class="dailyCheckin__button-row">
      <div class="dailyCheckin__button-row--left">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button (click)="onResetAll()">Reset</button>
      </div>
      <div class="dailyCheckin__button-row--right">
        <button mat-stroked-button
                (click)="onSubmit()">
          Submit
        </button>
      </div>
    </div>
  </mat-step>

</mat-stepper>
