<div class="login">
  <h1>Mind Balance</h1>

  <form [formGroup]="loginForm">

    <mat-card class="login__card">
      <mat-card-header>
        <mat-card-title>

        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <fieldset>
          <mat-form-field appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input matInput formControlName="email" #email>
          </mat-form-field>
        </fieldset>

        <fieldset>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" #password>
          </mat-form-field>
        </fieldset>

      </mat-card-content>
    </mat-card>
  </form>

  <button mat-stroked-button
          class="login__button"
          (click)="onLogin()">
    Login
  </button>

    <p (click)="onClick()" class="register">If you don't already have an account please register here</p>
    
</div>
