:host {
    --green-to-blue-horizontal-gradient: linear-gradient(
      90deg,
      oklch(91.338% 0.14453 155.681) 0%,
      oklch(69.069% 0.16172 267.272) 100%
    );
};

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 80px 0;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    border: solid 1px #cadefc;
    padding: 20px 0 5px 0;
    margin-bottom: 40px;
  }

  &__button {
    background: var(--green-to-blue-horizontal-gradient);
    width: 150px;
    transition: transform 0.2s;
  }

  &__button:hover {
    transform: scale(1.03);
  }
}

fieldset {
  border: none;
}

mat-form-field {
  width: 350px;
}

h1 {
  color: #5e63b6;
}

.login {
  color: #5e63b6;
  text-decoration: none;
  font-size: 15px;
  transition: 0.5s;
  cursor: pointer;
}

.login:hover {
  font-size: 16px;
  color: rgb(253, 82, 182);
}
